.popup__input {
  width: 100%;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: .875rem;
  line-height: 1.0625rem;
  opacity: 0.2;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  box-sizing: border-box;
  padding: .75rem 0;
}